<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="C:\data\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="tournamentTracker@toptourneys.com"/>
		<add key="senderDisplayName" value="Top Tourney Tim"/>
	</appSettings>
	<connectionStrings>
		<add name ="Tournaments" connectionString="Server=.\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>